/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;600;700&display=swap');

/* Style Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f7f7f7;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.form-container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 4px #6d6d6d;
    max-width: 750px;
}

.form-container form{
    padding: 20px 30px;
}

.header-text-container{
    background-color: #f7f7f7;
    padding: 10px 20px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #bdbdbd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text-container h2{
    font-weight: 600;
}

.header-text-container img{
    width: 50px;
    height: auto;
}

.navbar-brand img{
    width: 40px;
    height: auto;
}